<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="io.cloudracer">
    <!--
        http://logging.apache.org/log4j/2.x/manual/migration.html
        http://logging.apache.org/log4j/2.x/manual/layouts.html#LocationInformation
    -->
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %C(%L) - %m%n" />
        </Console>
        <File name="FILE" fileName="logs/mocktcpserver.log" append="false">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %C(%L) - %m%n" />
        </File>
        <LogMonitor name="TEST">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %C(%L) - %m%n" />
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </LogMonitor>
        <Async name="ASYNC" includeLocation="true">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="FILE" />
            <AppenderRef ref="TEST" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ASYNC" />
        </Root>
    </Loggers>
</Configuration>