<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="io.cloudracer">
    <!--
        http://logging.apache.org/log4j/2.x/manual/migration.html
        http://logging.apache.org/log4j/2.x/manual/layouts.html#LocationInformation
    -->
    <Appenders>
        <Console name="PRINT_VERSION" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n" />
        </Console>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %C(%L) - %m%n" />
        </Console>
        <File name="FILE" fileName="logs/mocktcpserver.log" append="false">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %C(%L) - %m%n" />
        </File>
        <Async name="ASYNC" includeLocation="true">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="FILE" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC" />
        </Root>
        <Logger name="io.cloudracer.mocktcpserver.MockTCPServer$Print" level="all" additivity="false">
            <appender-ref ref="PRINT_VERSION" level="all" />
        </Logger>
    </Loggers>
</Configuration>